header {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url("healthyfruit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  padding: 0px;
}

.title {
  position: relative;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-style: italic;
}

body {
  margin: 0;
  text-align: center;
  background: #fffff5;
  font-family: 'Montserrat', sans-serif;
}

.description {
  padding: 0 100px;
}

.nav {
  background-color: #3e6048;
  text-align: left;
  padding: 5px;
}

/* Remove bullet points from navigation bar. */
.nav ul {
  list-style-type: none;
  padding-left: 0;
}

.nav a {
  color: white;
}

/* Keep navigation menu on one line. */
.nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px
}

h2 {
  margin: 0;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

#content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.two-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}
